*{
    margin: 0;
    padding: 0;


}
body{
    background-color: #fff;
}
.header{
    position: relative;
    width:100%;
    height:60px;
    background-color:#070963 ;
        
  animation-name: head;
  animation-duration: 60s;

}
@keyframes head {
    0%   {background-color:#070963;}
    20%  {background-color:black;}
    40%  {background-color:#070963;}
    60% {background-color: black;}
    80%  {background-color:#070963;}
    85% {background-color: black;}
    90%  {background-color: #070963;}
    95% {background-color: black;}
    100%  {background-color:#070963;}
  }

.header #header-content{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content:space-between;

}
.header #header-content ul li{
  display: inline-block;
  list-style: none;
  margin-bottom: 20px;
  padding: 25px;
  
    
}
.header #header-content ul li a{
    color: #fff;
    text-decoration: none;
}
.home{
    margin-left: 8%;
    margin-top: 20%;

}

.home h1{
    margin-left:3%;
    color: #e8ad0c;
    font-weight: lighter;
    font-style: oblique;
    position: relative;
  animation-name: h1;
  animation-duration: 100s;
}
@keyframes h1 {
    0%   {color: #e8ad0c; right:0px;}
    20%  {color:black; right:10px;}
    40%  {color: #e8ad0c; right:10px;}
    60% {color: black; right:10px;}
    80%  {color: #e8ad0c; right:10px;}
    85% {color: black; left:10px}
    90%  {color: #e8ad0c; left:10px;}
    95% {color: black; left:10px;}
    100%  {color: #e8ad0c; left:10px;}
    
  }
.home h2{
    font-size: 56px;
    color: #212121;
    margin-bottom: 2%;
    font-weight: lighter;
    font-style: oblique;
}
.home h2 span{
    color: #e8ad0c;
}
.home p{
    color: black;
    line-height: 22px;
    width: 400px;
    font-weight: lighter;
    font-style: oblique;
    color: #212121
    }

    

